* {
  margin: 0;
  -webkit-user-select: none;
  user-select: none;
  overflow: hidden;
  box-sizing: border-box;
}

html,
body {
  background-color: blue;
  width: 100vw;
  height: 100svh;
}

canvas {
  image-rendering: crisp-edges;
}

video {
  display: none;
}

.canvasText {
  font-size: 200%;
  color: black;
  position: absolute;
  top: 20px;
  left: 20px;
  pointer-events: none;
}
